body {
  background: #001f2d;
  color: #fff;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center; /* horizontal */
  flex-direction: column;
}

#searchContainer {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  position: relative;
}

#searchBar {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
}

#suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background: #003c57;
  border-radius: 0 0 5px 5px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 100;
}

#suggestions li {
  padding: 10px;
  cursor: pointer;
}

#suggestions li:hover {
  background: #005472;
}

#lootInfo {
  margin-top: 20px;
}
